/* Contact Us */

.welcomeMessage-wrapper {
  background-color: var(--dark-blue);
  box-sizing: border-box;
  color: var(--white);
  /* margin-bottom: 1.25em; */
  max-width: 1200px;
  padding: 18px 28px 18px 27px;
  text-align: left;
  width: 100%;
}

@media (min-width: 600px) {
  .welcomeMessage-wrapper {
    margin-right: 0;
    text-align: center;
  }
}

@media (min-width: 960px) {
  .welcomeMessage-wrapper {
    margin-right: 0;
    border-radius: 50px 0 0 50px;
    text-align: right;
  }
}

/* Contact Form styling */

.form-contact {
  max-width: 700px;
  width: 100vw;
  padding: 1.25em;
}

form fieldset {
  border: 1px solid #999;
  border-radius: 5px;
  padding: 1em;
}

.form-row {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.75em;
  gap: 0.25em;
}

.form-row :is(input, textarea) {
  border: 1px solid black;
  border-radius: 5px;
  padding: 0.5rem;
}

.form-actions {
  display: flex;
  justify-content: center;
  padding: 1em 0;
  width: 100%;
}

button {
  display: inline-block;
  padding: 0.4em 0.8em;
  border: none;
  border-radius: 5px;
  background-color: #00aced;
  color: white;
}

@media (min-width: 960px) {
  .form-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1em;
  }

  .form-row label {
    width: 150px;
    flex-shrink: 0;
  }

  .form-row :is(input, textarea) {
    flex-grow: 1;
  }
}

/* Message styling */

.error-summary {
  margin: 1em 0;
  padding: 0.5em;
  border: 1px solid #8f080874;
  border-radius: 5px;
  color: #8f0808;
  background-color: #8f080827;
  font-style: italic;
}

.error-message {
  color: #8f0808;
  font-style: italic;
}
