/* General */
* {
  box-sizing: border-box;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
  padding: 0;
}

:root {
  /* Define CSS custom properties (variables) */
  --white: #ffffff;
  --black: #000000;
  --black-30: rgba(0, 0, 0, 0.3);
  --black-15: rgba(0, 0, 0, 0.15);
  --grey: #595959;
  --border-gray: #d0cfcf;
  --light-blue: #00aced;
  --mid-blue: #006989;
  --dark-blue: #002936;
  --orange: #fb6806;
}

body {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  background-color: var(--white);
  color: var(--black);
}

/* Centre an item (horizontally and vertically) */
.full-centred {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.site-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.visually-hidden {
  display: none !important;
}

li::marker {
  content: none;
  display: none;
}

/* Navigation */

.site-nav {
  position: fixed;
  height: 50px;
  width: 100vw;
  background-color: var(--light-blue);
  z-index: 60;
  display: flex;
  align-items: center;
}
.nav-content-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 12px;
  max-width: 1200px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.nav-toggle-wrapper {
  /* Keep toggle on left */
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background-color: var(--light-blue);
}

.nav-toggle-label {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  color: var(--white);
  cursor: pointer;
  padding: 8px;
  border-radius: 6px;
}

.right-nav__item {
  /* Keep kart on right */
  display: flex;
  align-items: center;
}

.desktop-nav__list {
  display: none; /* Hidden on mobile */
}

.mobile-nav-wrapper {
  /* margin: 0; */
  display: none;
  position: absolute;
  top: 50px;
  left: 0;
  background-color: var(--light-blue);
  z-index: 55;
  padding: 0 10px 20px 10px;
  width: 100%;
  max-width: 360px;
}

#menu-icon-x {
  display: none;
}

#menu-icon-bars,
#visually-hidden {
  display: inline-block;
}

#nav-toggle:checked ~ #mobile-nav-list {
  display: flex;
  flex-direction: column;
}

#nav-toggle:checked + label #menu-icon-bars {
  display: none;
}
#nav-toggle:checked + label #menu-icon-x {
  display: inline-block;
}
#nav-toggle:checked + label #visually-hidden {
  display: none;
}

.mobile-nav__list li {
  list-style: none;
  padding: 5px 15px;
  border-bottom: 1px solid var(--white);
}

.site-nav__item {
  margin: 0 15px;
}

.mobile-nav__list li:not(:first-child) {
  margin-top: 15px;
}

.mobile-nav__list .site-nav__item a,
.cart-link {
  text-decoration: none;
  display: block;
  padding: 5px 0px 5px 45px;
  color: var(--white);
}

.cart-count {
  border-radius: 50px;
  background-color: var(--black-15);
  margin-left: 10px;
  padding: 5px 15px 6px 17px;
}

@media (min-width: 960px) {
  .nav-toggle-wrapper {
    display: none; /* Hidden on desktop */
  }

  .desktop-nav__list {
    display: flex;
    list-style: none;
    /* flex-direction: flex-end; */
    flex-grow: 1;
  }

  .desktop-nav__list li:last-child {
    margin-left: auto;
    margin-right: 0;
  }

  .site-nav__item a {
    text-decoration: none;
    color: var(--white);
    /* padding: 10px 15px;
        display: block; */
  }
}

/* Header */

.site-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 65px;
  font-size: 16px;
}

.site-header__brand {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1200px;
}

.site-header__logo {
  padding: 0 35px;
  margin-bottom: 15px;
}

.site-header__logo img {
  display: inline-block;
  width: 100%;
  max-width: 600px;
  min-width: 290px;
  height: auto;
  display: block;
}

/* Main */

.site-main {
  margin: 15px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Contact Us */

.welcomeMessage-wrapper {
  background-color: var(--dark-blue);
  box-sizing: border-box;
  color: var(--white);
  /* margin-bottom: 1.25em; */
  max-width: 1200px;
  padding: 18px 28px 18px 27px;
  text-align: left;
  width: 100%;
}

@media (min-width: 600px) {
  .welcomeMessage-wrapper {
    margin-right: 0;
    text-align: center;
  }
}

@media (min-width: 960px) {
  .site-header__brand {
    flex-direction: row;
    gap: 5.6em;
    justify-content: space-between;
  }

  .welcomeMessage-wrapper {
    margin-right: 0;
    border-radius: 50px 0 0 50px;
    text-align: right;
  }
}

/* Contact Form styling */

.form-contact {
  max-width: 700px;
  width: 100vw;
  padding: 1.25em;
}

form fieldset {
  border: 1px solid #999;
  border-radius: 5px;
  padding: 1em;
}

.form-row {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.75em;
  gap: 0.25em;
}

.form-actions {
  display: flex;
  justify-content: center;
  padding: 1em 0;
  width: 100%;
}

button {
  display: inline-block;
  padding: 0.4em 0.8em;
  border: none;
  border-radius: 5px;
  background-color: #00aced;
  color: white;
}

@media (min-width: 960px) {
  .form-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1em;
  }

  .form-row label {
    width: 150px;
    flex-shrink: 0;
  }

  .form-row :is(input, textarea) {
    flex-grow: 1;
  }
}

/* Message styling */

.error-summary {
  margin: 1em 0;
  padding: 0.5em;
  border: 1px solid #8f080874;
  border-radius: 5px;
  color: #8f0808;
  background-color: #8f080827;
  font-style: italic;
}

.error-message {
  color: #8f0808;
  font-style: italic;
}

.success-message {
  margin: 0.5em;
  border: 2px solid #137b3674;
  border-radius: 5px;
  color: #066c3b;
  font-style: italic;
  padding: 0.5em;
}

/* Footer */

.site-footer {
  width: 100vw;
  background-color: var(--light-blue);
  display: flex;
  align-items: center;
  margin-top: 15px;
}

.footer-content-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  padding: 15px;
  margin: 15px 0;
  color: var(--white);
  gap: 30px;
  box-sizing: border-box;
  max-width: 1200px;
  width: 100%;
}

.footer-nav {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding-left: 10px;
}

.footer-nav-products-categories {
  display: none;
  flex-direction: column;
  gap: 15px;
  padding: 0 0 10px 10px;
  background-color: var(--orange);
}

.footer-links__list {
  list-style: none;
  padding-left: 0;
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 0;
  margin: 0;
  font-variant-ligatures: no-common-ligatures;
}

.footer-links__title {
  font-size: 22px;
  font-weight: 300;
  padding-top: 5px;
}

.footer-links__item {
  position: relative;
  padding-left: 20px;
}

.footer-links__item::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 10px;
  height: 6px;
  background-color: var(--black-30);
  border-radius: 50px 0 0 50px;
}

.footer-links__item a {
  text-decoration: none;
  color: var(--white);
  font-size: 14px;
}

.footer-section-social {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.footer-section-social > h3 {
  text-align: center;
}

.container-footer-social-links {
  display: flex;
  justify-content: center;
  gap: 25px;
}

.social-links-list {
  margin: 0 auto;
  list-style: none;
  display: inline-flex;
  align-items: center;
  gap: 25px;
  text-decoration: none;
  color: var(--white);
  font-size: 15px;
  font-weight: 300;
}

.social-item a {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: var(--white);
  gap: 15px;
  text-align: center;
}

.social-icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--white);
  border-radius: 50%;
  font-size: 44px;
  width: 80px;
  height: 80px;
}

@media (min-width: 600px) {
  .footer-content-container {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 400px));
    padding: 0;
    gap: 0;
  }

  .footer-nav {
    padding: 15px 0 15px 15px;
  }

  .footer-section-social {
    padding: 15px 15px 15px 0;
  }
}

@media (min-width: 960px) {
  .site-footer {
    justify-content: center;
  }

  .footer-content-container {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 400px));
    margin: 0;
  }

  .footer-section-social {
    align-items: center;
  }

  .footer-nav-products-categories,
  .footer-nav,
  .footer-section-social {
    display: flex;
    flex-grow: 1;
    padding: 15px;
  }
}

/* Copyright */

.copyrights-section {
  align-self: center;
  color: var(--grey);
  font-size: 14px;
  margin-top: 15px;
  padding-bottom: 15px;
  text-align: center;
  /* width: 100vw; */
}

.copyrights-section > * {
  max-width: 1200px;
}

@media (min-width: 600px) {
  .mobile-br {
    display: none;
  }
}

@media (min-width: 960px) {
  .copyrights-section {
    margin-top: 30px;
  }

  .mobile-br {
    display: none;
  }
}
